Repository fly-william/jetstream-aircraft-tracker-x50vw7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jetstream-admins, @jetstream-backend-team, @jetstream-tracking-team, @jetstream-trip-team, @jetstream-notification-team, @jetstream-security-team, @jetstream-frontend-team, @jetstream-devops-team, @jetstream-platform-team, @jetstream-sre-team, @jetstream-qa-team, @jetstream-dba-team

.github/CODEOWNERS:

# JetStream CODEOWNERS file
# Defines code ownership and required reviewers for repository components
# Format: path_pattern @owner1 @owner2

# Global owners as fallback
* @jetstream-admins

# Backend services and components
src/backend/ @jetstream-backend-team
src/backend/src/services/aircraft-tracking/ @jetstream-tracking-team
src/backend/src/services/trip-management/ @jetstream-trip-team
src/backend/src/services/notification/ @jetstream-notification-team
src/backend/src/config/ @jetstream-security-team @jetstream-backend-team

# Frontend application
src/web/ @jetstream-frontend-team

# Infrastructure and platform
infrastructure/ @jetstream-devops-team
infrastructure/kubernetes/ @jetstream-platform-team
infrastructure/monitoring/ @jetstream-sre-team

# CI/CD workflows
.github/workflows/ @jetstream-devops-team

# Documentation
docs/ @jetstream-admins @jetstream-backend-team @jetstream-frontend-team

# Security-sensitive configurations require security team review
**/security.config.* @jetstream-security-team
**/auth.config.* @jetstream-security-team
**/secrets.*.* @jetstream-security-team

# Test configurations
**/test/ @jetstream-qa-team

# Database migrations require both backend and DBA review
**/migrations/ @jetstream-backend-team @jetstream-dba-team

# API specifications require backend and frontend team review
**/api-specs/ @jetstream-backend-team @jetstream-frontend-team

# Shared utilities and libraries
src/shared/ @jetstream-backend-team @jetstream-frontend-team

# Build configurations
**/webpack.*.js @jetstream-frontend-team
**/tsconfig.*.json @jetstream-frontend-team @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/routes/health.routes.ts
  src/backend/src/api-gateway/routes/health.routes.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/routes/trip.routes.ts
  src/backend/src/api-gateway/routes/trip.routes.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/swagger/openapi.yaml
  src/backend/src/api-gateway/swagger/openapi.yaml
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/constants/error-codes.ts
  src/backend/src/common/constants/error-codes.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/constants/event-types.ts
  src/backend/src/common/constants/event-types.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/constants/status-codes.ts
  src/backend/src/common/constants/status-codes.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/interfaces/aircraft.interface.ts
  src/backend/src/common/interfaces/aircraft.interface.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/interfaces/position.interface.ts
  src/backend/src/common/interfaces/position.interface.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/interfaces/trip.interface.ts
  src/backend/src/common/interfaces/trip.interface.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/types/aircraft.types.ts
  src/backend/src/common/types/aircraft.types.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/types/position.types.ts
  src/backend/src/common/types/position.types.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/types/trip.types.ts
  src/backend/src/common/types/trip.types.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/utils/date.utils.ts
  src/backend/src/common/utils/date.utils.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/utils/logger.ts
  src/backend/src/common/utils/logger.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/utils/validation.utils.ts
  src/backend/src/common/utils/validation.utils.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/validators/aircraft.validator.ts
  src/backend/src/common/validators/aircraft.validator.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/validators/position.validator.ts
  src/backend/src/common/validators/position.validator.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/common/validators/trip.validator.ts
  src/backend/src/common/validators/trip.validator.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @jetstream-security-team, @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/config/kafka.config.ts
  src/backend/src/config/kafka.config.ts
Owners: @jetstream-security-team, @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/config/redis.config.ts
  src/backend/src/config/redis.config.ts
Owners: @jetstream-security-team, @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/config/teams.config.ts
  src/backend/src/config/teams.config.ts
Owners: @jetstream-security-team, @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/aircraft-tracking/controllers/position.controller.ts
  src/backend/src/services/aircraft-tracking/controllers/position.controller.ts
Owners: @jetstream-tracking-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/aircraft-tracking/models/position.model.ts
  src/backend/src/services/aircraft-tracking/models/position.model.ts
Owners: @jetstream-tracking-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/aircraft-tracking/repositories/position.repository.ts
  src/backend/src/services/aircraft-tracking/repositories/position.repository.ts
Owners: @jetstream-tracking-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/aircraft-tracking/services/adsb.service.ts
  src/backend/src/services/aircraft-tracking/services/adsb.service.ts
Owners: @jetstream-tracking-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/aircraft-tracking/services/position.service.ts
  src/backend/src/services/aircraft-tracking/services/position.service.ts
Owners: @jetstream-tracking-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/aircraft-tracking/websocket/position.socket.ts
  src/backend/src/services/aircraft-tracking/websocket/position.socket.ts
Owners: @jetstream-tracking-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/notification/controllers/notification.controller.ts
  src/backend/src/services/notification/controllers/notification.controller.ts
Owners: @jetstream-notification-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/notification/services/teams.service.ts
  src/backend/src/services/notification/services/teams.service.ts
Owners: @jetstream-notification-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/notification/templates/status-update.template.ts
  src/backend/src/services/notification/templates/status-update.template.ts
Owners: @jetstream-notification-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/notification/templates/trip-update.template.ts
  src/backend/src/services/notification/templates/trip-update.template.ts
Owners: @jetstream-notification-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/trip-management/controllers/trip.controller.ts
  src/backend/src/services/trip-management/controllers/trip.controller.ts
Owners: @jetstream-trip-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/trip-management/models/milestone.model.ts
  src/backend/src/services/trip-management/models/milestone.model.ts
Owners: @jetstream-trip-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/trip-management/models/trip.model.ts
  src/backend/src/services/trip-management/models/trip.model.ts
Owners: @jetstream-trip-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/trip-management/repositories/milestone.repository.ts
  src/backend/src/services/trip-management/repositories/milestone.repository.ts
Owners: @jetstream-trip-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/trip-management/repositories/trip.repository.ts
  src/backend/src/services/trip-management/repositories/trip.repository.ts
Owners: @jetstream-trip-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/trip-management/services/crm-sync.service.ts
  src/backend/src/services/trip-management/services/crm-sync.service.ts
Owners: @jetstream-trip-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/trip-management/services/milestone.service.ts
  src/backend/src/services/trip-management/services/milestone.service.ts
Owners: @jetstream-trip-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/services/trip-management/services/trip.service.ts
  src/backend/src/services/trip-management/services/trip.service.ts
Owners: @jetstream-trip-team
