Repository fly-william/jetstream-aircraft-tracker-x50vw7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jetstream-admins, @jetstream-backend-team, @jetstream-tracking-team, @jetstream-trip-team, @jetstream-notification-team, @jetstream-security-team, @jetstream-frontend-team, @jetstream-devops-team, @jetstream-platform-team, @jetstream-sre-team, @jetstream-qa-team, @jetstream-dba-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @jetstream-admins

Add public-samples/jetstream-aircraft-tracker-x50vw7/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @jetstream-admins

Add public-samples/jetstream-aircraft-tracker-x50vw7/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @jetstream-admins

Add public-samples/jetstream-aircraft-tracker-x50vw7/.github/workflows/backend-cd.yml
  .github/workflows/backend-cd.yml
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/.github/workflows/web-cd.yml
  .github/workflows/web-cd.yml
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @jetstream-admins

Add public-samples/jetstream-aircraft-tracker-x50vw7/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @jetstream-admins

Add public-samples/jetstream-aircraft-tracker-x50vw7/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @jetstream-admins

Add public-samples/jetstream-aircraft-tracker-x50vw7/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @jetstream-admins

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/aircraft-tracking/deployment.yaml
  infrastructure/kubernetes/apps/aircraft-tracking/deployment.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/aircraft-tracking/hpa.yaml
  infrastructure/kubernetes/apps/aircraft-tracking/hpa.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/aircraft-tracking/service.yaml
  infrastructure/kubernetes/apps/aircraft-tracking/service.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/api-gateway/deployment.yaml
  infrastructure/kubernetes/apps/api-gateway/deployment.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/api-gateway/hpa.yaml
  infrastructure/kubernetes/apps/api-gateway/hpa.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/api-gateway/service.yaml
  infrastructure/kubernetes/apps/api-gateway/service.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/notification/deployment.yaml
  infrastructure/kubernetes/apps/notification/deployment.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/notification/hpa.yaml
  infrastructure/kubernetes/apps/notification/hpa.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/notification/service.yaml
  infrastructure/kubernetes/apps/notification/service.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/trip-management/deployment.yaml
  infrastructure/kubernetes/apps/trip-management/deployment.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/trip-management/hpa.yaml
  infrastructure/kubernetes/apps/trip-management/hpa.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/trip-management/service.yaml
  infrastructure/kubernetes/apps/trip-management/service.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/web/deployment.yaml
  infrastructure/kubernetes/apps/web/deployment.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/web/hpa.yaml
  infrastructure/kubernetes/apps/web/hpa.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/apps/web/service.yaml
  infrastructure/kubernetes/apps/web/service.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/base/ingress.yaml
  infrastructure/kubernetes/base/ingress.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/base/secrets.yaml
  infrastructure/kubernetes/base/secrets.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/kubernetes/base/service-mesh.yaml
  infrastructure/kubernetes/base/service-mesh.yaml
Owners: @jetstream-platform-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/monitoring/elk/elasticsearch.yaml
  infrastructure/monitoring/elk/elasticsearch.yaml
Owners: @jetstream-sre-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/monitoring/elk/kibana.yaml
  infrastructure/monitoring/elk/kibana.yaml
Owners: @jetstream-sre-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/monitoring/elk/logstash.conf
  infrastructure/monitoring/elk/logstash.conf
Owners: @jetstream-sre-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/monitoring/grafana-dashboards/aircraft-tracking.json
  infrastructure/monitoring/grafana-dashboards/aircraft-tracking.json
Owners: @jetstream-sre-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/monitoring/grafana-dashboards/system-metrics.json
  infrastructure/monitoring/grafana-dashboards/system-metrics.json
Owners: @jetstream-sre-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/monitoring/grafana-dashboards/trip-management.json
  infrastructure/monitoring/grafana-dashboards/trip-management.json
Owners: @jetstream-sre-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/monitoring/jaeger/config.yaml
  infrastructure/monitoring/jaeger/config.yaml
Owners: @jetstream-sre-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/monitoring/prometheus/alerts.yaml
  infrastructure/monitoring/prometheus/alerts.yaml
Owners: @jetstream-sre-team

.github/CODEOWNERS:

# JetStream CODEOWNERS file
# Defines code ownership and required reviewers for repository components
# Format: path_pattern @owner1 @owner2

# Global owners as fallback
* @jetstream-admins

# Backend services and components
src/backend/ @jetstream-backend-team
src/backend/src/services/aircraft-tracking/ @jetstream-tracking-team
src/backend/src/services/trip-management/ @jetstream-trip-team
src/backend/src/services/notification/ @jetstream-notification-team
src/backend/src/config/ @jetstream-security-team @jetstream-backend-team

# Frontend application
src/web/ @jetstream-frontend-team

# Infrastructure and platform
infrastructure/ @jetstream-devops-team
infrastructure/kubernetes/ @jetstream-platform-team
infrastructure/monitoring/ @jetstream-sre-team

# CI/CD workflows
.github/workflows/ @jetstream-devops-team

# Documentation
docs/ @jetstream-admins @jetstream-backend-team @jetstream-frontend-team

# Security-sensitive configurations require security team review
**/security.config.* @jetstream-security-team
**/auth.config.* @jetstream-security-team
**/secrets.*.* @jetstream-security-team

# Test configurations
**/test/ @jetstream-qa-team

# Database migrations require both backend and DBA review
**/migrations/ @jetstream-backend-team @jetstream-dba-team

# API specifications require backend and frontend team review
**/api-specs/ @jetstream-backend-team @jetstream-frontend-team

# Shared utilities and libraries
src/shared/ @jetstream-backend-team @jetstream-frontend-team

# Build configurations
**/webpack.*.js @jetstream-frontend-team
**/tsconfig.*.json @jetstream-frontend-team @jetstream-backend-team
