Repository fly-william/jetstream-aircraft-tracker-x50vw7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jetstream-admins, @jetstream-backend-team, @jetstream-tracking-team, @jetstream-trip-team, @jetstream-notification-team, @jetstream-security-team, @jetstream-frontend-team, @jetstream-devops-team, @jetstream-platform-team, @jetstream-sre-team, @jetstream-qa-team, @jetstream-dba-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/monitoring/prometheus/rules.yaml
  infrastructure/monitoring/prometheus/rules.yaml
Owners: @jetstream-sre-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/aks/main.tf
  infrastructure/terraform/modules/aks/main.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/aks/outputs.tf
  infrastructure/terraform/modules/aks/outputs.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/aks/variables.tf
  infrastructure/terraform/modules/aks/variables.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @jetstream-devops-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/.env.example
  src/backend/.env.example
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/README.md
  src/backend/README.md
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/package.json
  src/backend/package.json
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/server.ts
  src/backend/src/api-gateway/server.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/config/cors.config.ts
  src/backend/src/api-gateway/config/cors.config.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/config/rate-limit.config.ts
  src/backend/src/api-gateway/config/rate-limit.config.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/controllers/auth.controller.ts
  src/backend/src/api-gateway/controllers/auth.controller.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/controllers/health.controller.ts
  src/backend/src/api-gateway/controllers/health.controller.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/middleware/auth.middleware.ts
  src/backend/src/api-gateway/middleware/auth.middleware.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/middleware/error.middleware.ts
  src/backend/src/api-gateway/middleware/error.middleware.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/middleware/logging.middleware.ts
  src/backend/src/api-gateway/middleware/logging.middleware.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/middleware/validation.middleware.ts
  src/backend/src/api-gateway/middleware/validation.middleware.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/routes/aircraft.routes.ts
  src/backend/src/api-gateway/routes/aircraft.routes.ts
Owners: @jetstream-backend-team

Add public-samples/jetstream-aircraft-tracker-x50vw7/src/backend/src/api-gateway/routes/auth.routes.ts
  src/backend/src/api-gateway/routes/auth.routes.ts
Owners: @jetstream-backend-team

.github/CODEOWNERS:

# JetStream CODEOWNERS file
# Defines code ownership and required reviewers for repository components
# Format: path_pattern @owner1 @owner2

# Global owners as fallback
* @jetstream-admins

# Backend services and components
src/backend/ @jetstream-backend-team
src/backend/src/services/aircraft-tracking/ @jetstream-tracking-team
src/backend/src/services/trip-management/ @jetstream-trip-team
src/backend/src/services/notification/ @jetstream-notification-team
src/backend/src/config/ @jetstream-security-team @jetstream-backend-team

# Frontend application
src/web/ @jetstream-frontend-team

# Infrastructure and platform
infrastructure/ @jetstream-devops-team
infrastructure/kubernetes/ @jetstream-platform-team
infrastructure/monitoring/ @jetstream-sre-team

# CI/CD workflows
.github/workflows/ @jetstream-devops-team

# Documentation
docs/ @jetstream-admins @jetstream-backend-team @jetstream-frontend-team

# Security-sensitive configurations require security team review
**/security.config.* @jetstream-security-team
**/auth.config.* @jetstream-security-team
**/secrets.*.* @jetstream-security-team

# Test configurations
**/test/ @jetstream-qa-team

# Database migrations require both backend and DBA review
**/migrations/ @jetstream-backend-team @jetstream-dba-team

# API specifications require backend and frontend team review
**/api-specs/ @jetstream-backend-team @jetstream-frontend-team

# Shared utilities and libraries
src/shared/ @jetstream-backend-team @jetstream-frontend-team

# Build configurations
**/webpack.*.js @jetstream-frontend-team
**/tsconfig.*.json @jetstream-frontend-team @jetstream-backend-team
